// Global Header

  // Prevent double sticky headers from showing
    .site-header .sticky-header{
      display: none;
    }

  .site-header{
    &.header-in-grid{
      max-width: $grid-width;
      @include breakpoint($mdl){
        width: 80%;
      }
      .desktop-menu-inner,
      .header-widgets-inner{
        @include breakpoint($mdl){
          width: 100%;
        }
      }
    }
    .error404 &,
    &.header-overlap{
      width: 100%;
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 50%;
      @include transform(translateX(-50%));
    }
    &.has-side-menu{
      @include display-flex;
      .header-inner{
        @include flex(1 1 auto);
        @include display-flex;
      }
      .header-widgets{
        width: 100%;
        @include flex(1 1 auto);
      }
    }
  }

  // Header Widgets

    .header-widgets{
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
    }

    .header-widgets-inner{
      width: 100%;
      padding: 10px 30px;
      position: relative;
      @include breakpoint($md){
        padding: 10px 40px;
      }
      @include breakpoint($mdl){
        padding: 10px 0;
        width: 80%;
        max-width: $grid-width;
      }
      .header-in-grid &{
        @include breakpoint($mdl){
          padding: 10px 40px;
        }
      }
    }

  // Main Logo

    .site-logo{
      width: 100%;
      overflow: hidden;
      @include flex(1 1 auto);
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include breakpoint($mdl){
        @include flex(0 1 auto);
      }
      .desktop-menu &{
        padding: 10px 0;
      }
      .divided-menu-wrapper &{
        padding: 10px 20px;
        a{
          @include breakpoint($lrg){
            background-position: center center;
          }
        }
      }
      a{
        @include flex(1 1 auto);
        display: block;
        width: 100%;
        position: relative;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.center-logo{
        display: none;
        @include breakpoint($mdl){
          display: block;
          margin: 0 auto;
        }
      }
    }

    .site-main-logo{
      display: block;
      opacity: 0;
      width: 100%;
      height: auto;
      .desktop-menu &,
      .sticky-header &{
        position: absolute;
        left: 0;
        top: 0;
      }
      .desktop-menu.menu-center &{
        position: static;
        left: auto;
        top: auto;
      }
    }

    .sticky-logo{
      width: 100%;
      @include display-flex;
      a{
        @include flex(1 1 auto);
        width: 100%;
        padding: 10px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        @include breakpoint($lrg){
          background-position: left center;
        }
      }
      .divided-menu-wrapper &{
        a{
          @include breakpoint($lrg){
            background-position: center center;
          }
        }
      }
    }

    .mobile-logo{
      width: 100%;
      padding: 10px 0;
      @include display-flex;
      @include justify-content(center);
      @include align-items(stretch);
      a{
        @include flex(1 1 auto);
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

// Page Header Styles

  .page-header{
    width: 100%;
    position: relative;
    overflow: hidden;
    @include display-flex;
    .error404 &,
    .search &{
      min-height: 100vh;
    }
  }

  .page-header-inner-wrapper{
    width: 100%;
    @include flex(1 1 auto);
    @include display-flex;
    @include justify-content(center);
    @include align-items(stretch);
  }

  .page-header-inner{
    padding: 60px 30px;
    min-height: 100px;
    width: 100%;
    margin: 0;
    @include flex(0 1 auto);
    @include breakpoint($md){
      padding: 80px 40px;
    }
    @include breakpoint($mdl){
      width: 80%;
      padding: 80px 0;
    }
    .error404 &{
      padding: 0;
      @include breakpoint($md){
        padding: 40px;
      }
      @include breakpoint($mdl){
        padding: 80px 0;
      }
    }
  }

  .header-block{
    max-width: 100%;
    .error404 &,
    .search &{
      width: 100%;
      max-width: 500px;
      h1{
        padding-bottom: 30px;
        span{
          display: block;
          text-align: center;
          line-height: 1;
        }
      }
      p{
        text-align: center;
      }
      h1,h2,p,.search-btn-wrapper:before{
        color: #000;
      }
      #s::-webkit-input-placeholder {
        color: #000;
      }
      #s:-moz-placeholder { /* Firefox 18- */
        color: #000;  
      }
      #s::-moz-placeholder {  /* Firefox 19+ */
        color: #000;  
      }
      #s:-ms-input-placeholder {  
        color: #000;  
      }
      .search-btn-wrapper,
      #s{
        border-bottom-color: #000;
      }
    }
    &.background--dark{
      h1,h2,p,.search-btn-wrapper:before{
        color: #FFF;
      }
      .search-btn-wrapper,
      #s{
        border-bottom-color: #FFF;
      }
      #s::-webkit-input-placeholder {
        color: #FFF;
      }
      #s:-moz-placeholder { /* Firefox 18- */
        color: #FFF;  
      }
      #s::-moz-placeholder {  /* Firefox 19+ */
        color: #FFF;  
      }
      #s:-ms-input-placeholder {  
        color: #FFF;  
      }
    }
    &.background--light{
      h1,h2,p,.search-btn-wrapper:before{
        color: #000;
      }
      #s::-webkit-input-placeholder {
        color: #000;
      }
      #s:-moz-placeholder { /* Firefox 18- */
        color: #000;  
      }
      #s::-moz-placeholder {  /* Firefox 19+ */
        color: #000;  
      }
      #s:-ms-input-placeholder {  
        color: #000;  
      }
      .search-btn-wrapper,
      #s{
        border-bottom-color: #000;
      }
    }
    #searchform{
      margin-top: 30px;
    }
  }
