html{
  overflow-x: hidden !important;
}

#wrapper{
  position: relative;  
  width: 100vw;
  overflow-x: hidden !important;
}

#content-wrapper{
  position: relative; 
  &.has-left-menu{
    @include breakpoint($mdl){
      margin-left: 30vw;
    }
    @include breakpoint($xxlrg){
      margin-left: 400px;
    }
  }
  &.has-right-menu{
    @include breakpoint($mdl){
      margin-right: 30vw;
    }
    @include breakpoint($xxlrg){
      margin-right: 400px;
    }
  }
}

#content-bottom{
  width: 100%;
}