@import "compass";
@import "breakpoint";

$mds: 480px;
$md: 700px;
$mdl: 900px;
$lrg: 1100px;
$xlrg: 1300px;
$xxlrg: 1600px;

.toplevel_page_theme-general-settings {
  *{
    @include box-sizing(border-box);  
  }
  .inside.acf-fields > .acf-tab-wrapper{
    @include breakpoint($xxlrg){
      padding: 20px;
    }
  }
  .acf-fields{
    @include breakpoint($lrg){
      @include display-flex;
      @include align-items(stretch);
      .acf-tab-wrap{
        @include flex(0 1 auto);
      }
      .acf-tab-wrapper{
        @include flex(1 1 auto);
        @include display-flex;
        @include flex-wrap(wrap);
        .acf-field{
          @include flex(0 1 auto);
          min-height: 0 !important;
        }
      }
    }
  }
  .acf-tab-wrap.-left .acf-tab-group{
    top: 0;
  }
  .acf-field{
    padding: 10px;
    margin: 0;
    border: none;
    &.acf-field-repeater{
      width: 100%;
    }
    &[data-type="message"]{
      width: 100%;
      padding: 20px 0 10px;
      border-bottom: none;
      .acf-label{
        display: none;
      }
      .acf-input{
        padding: 0;
      }
      h1{
        font-size: 26px !important;
        font-weight: bold;
        padding: 0 20px!important;
        line-height: 50px !important;
        color: #FFF;
        background-color: #555555;
      }
      h2{
        font-size: 20px !important;
        line-height: 40px !important;
        font-weight: 400;
        padding: 0 20px !important;
        color: #555;
        background-color: #d5d5d5;
      }
      h3{
        font-size: 15px !important;
        font-weight: bold;
        padding: 0 !important;
      }
    }
  }
  .acf-input-wrap input,
  .wp-color-result,
  .acf-input-prepend, 
  .acf-input-append{
    height: 30px;
  }
  .wp-color-result:after{
    height: 28px;
    line-height: 28px;
  }
}