// Single Posts

  .single-post .entry-content{
    @include breakpoint($mdl){
      @include display-flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
    }
  }

  .single-post-img{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint($md){
      margin-bottom: 40px;
    }
    img{
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
    &:after{
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 56.25%;
    }
  }

  .post-header{
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 66.67%;
      @include breakpoint($md){
        padding-bottom: 56.25%;
      }
      @include breakpoint($lrg){
        padding-bottom: 33.333%;
      }
    }
    .post-img-inner{
      display: none;
    }
  }

  .post-wrapper{
    padding: 30px;
    @include breakpoint($md){
      padding: 40px;
    }
    @include breakpoint($mdl){
      width: 80%;
      max-width: $grid-width;
      padding: 40px 0;
    }
    @include breakpoint($lrg){
      padding: 80px 0;
    }
  }

  .post-meta{
    .single-post &{
      padding-bottom: 30px;
      @include display-flex;
      @include breakpoint($md){
        padding-bottom: 40px;
      }
      .post-categories{
        border-right-style: solid;
        border-right-width: 1px;
        padding-right: 10px;
      }
      .post-date{
        padding-left: 10px;
      }
    }
  }

  .post-author{
    display: none;
  }

  .post-content{

  }

  .post-footer{
    padding-top: 30px;
    @include breakpoint($md){
      padding-top: 40px;
    }
  }

  .post-footer-inner{
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center); 
    @include align-items(center);
  }

  .social-share-wrap{
    @include flex(1 1 auto);
  }

  .single-post-nav{
    @include flex(0 1 auto);
    width: 100%;
    @include breakpoint($md){
      width: auto;
    }
  }

  .single-post-nav{
    @include flex(0 1 auto);
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center); 
    @include align-items(center);
    width: 100%;
    margin: 10px -5px 0 -5px;
    @include breakpoint($mds){
      @include flex-wrap(nowrap);
      width: auto;  
      margin: 0 -5px 0 0px;
    }
    @include breakpoint($md){
      width: 100%;
      margin: 10px 0 0 0;
    }
    @include breakpoint($mdl){
      @include justify-content(flex-start);
      width: auto;  
      margin: 0 -5px 0 0px;
    }
    a{  
      margin-top: 10px;
      width: 100%;
      @include flex(0 1 auto); 
      @include display-flex;
      @include flex-wrap(nowrap);
      @include justify-content(center); 
      @include align-items(center);
      @include breakpoint($mds){
        width: auto;
        margin: 0 5px;
      }
      i{
        font-size: 25px;
        padding: 0 3px;
      }
    }
  }

// Archive Pages

  .blog-feed{
    padding: 30px;
    @include breakpoint($md){
      padding: 40px;  
    }
    @include breakpoint($mdl){
      padding: 40px 0;
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
    }
    @include breakpoint($lrg){
      padding: 80px 0;
    }
  }

  .blog-feed-inner{
    @include breakpoint($md){
      @include display-flex;
      @include flex-wrap(wrap);
      @include align-items(stretch);  
    }
    @include breakpoint($mdl){
      @include flex(0 1 auto); 
      width: 80%;
      max-width: $grid-width;
    }
  }

  .pagination{
    padding-top: 30px;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    > *{
      @include flex(0 1 auto);
      line-height: 30px;
      padding: 0 10px;
      margin: 0 5px;  
    }
    @include breakpoint($mdl){
      padding-top: 40px;
    }
  }

  // Post Layouts

    .post-block{
      @include display-flex;
      @include breakpoint($md){
        width: 50%;
      }
      a{
        @include flex(1 1 auto);
        @include display-flex;
        @include flex-direction(column);
        position: relative;
        overflow: hidden;
      }
      .post-img{
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        &:before{
          content: '';
          display: block;
          width: 100%;
          height: 0;
          margin-bottom: 66.67%;
        }
        img{
          width: 100%;
          height: auto;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .post-block-inner{
        @include flex(1 1 auto);
        @include display-flex;
        @include align-items(stretch);
        @include flex-direction(column);
        padding: 30px;
        position: relative;
        z-index: 5;
      }
      .post-block-content{
        @include flex(1 1 auto);
        @include display-flex;
        @include align-items(stretch);
        @include flex-direction(column);
        @include justify-content(flex-end);
      }
    }