.btn, 
button, 
input[type="submit"]{
  display: block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 0;
  cursor: pointer;
  @include transition(ease-in-out all 0.2s);
  @include appearance(none);
  &.center-btn{
    margin: 0 auto;  
  }
  &.btn-full-width{
    display: block;
    width: 100%;
  }
  span{
    @include transition(ease-in-out all 0.2s);
  }
}

.special-btn{
  overflow: hidden;  
  display: block;
  &.center-btn{
    margin: 0 auto;  
  }
  &.fill-space{
    @include flex(1 1 auto);
  }
}

.special-btn .panel{
  @include backface-visibility(hidden);
  @include transition(ease-in-out all 0.2s); 
  @include display-flex;
  @include justify-content(center); 
  @include align-items(center);
  .panel-inner{
    @include flex(0 1 auto);
    text-align: center; 
    text-transform: uppercase; 
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    line-height: 1.4;
    padding: 7px 10px;
    white-space: nowrap;
  }
}

.special-btn:hover .panel{
  @include transform(translate(0, -100%));
}