.mobile-logo{
  display: block;
  a{
    display: block; 
  }
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

// Carousel Styles

  .owl-carousel{
    position: relative;
    padding: 0 30px;
    @include breakpoint($md){
      padding: 0 50px;
    }
  }

  .owl-item{
    opacity: 0;
    @include transition(ease-in-out all 0.3s);
    &.active{
      opacity: 1;
    }
  }

  .owl-stage-outer{
    z-index: 5;
    overflow: hidden;
  }

  .owl-stage{
    @include display-flex;
    @include align-content(flex-start);
  }

  .owl-nav{
    div{
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      @include transition(ease-in-out all 0.2s);
      &.owl-prev{
        left: 0;
        .nav-icon:before{
          content: "\3c";
        }
      }
      &.owl-next{
        right: 0;
        .nav-icon:before{
          content: "\3d";
        }
      }
      &.disabled-nav-item{
        opacity: 0.25;
      }
      .nav-icon{
        display: block;
        &:before{
          display: block;
          font-family: 'ElegantIcons';
          font-size: 20px;
          @include breakpoint($md){
            font-size: 40px;
          }
        }
      }
    }
  }

  .owl-dots{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 20px 0;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
    .owl-dot{
      @include flex(0 1 auto);
      padding: 2px;
      &:before{
        content: "\5b";
        font-family: 'ElegantIcons';
        display: block;
        font-size: 20px; 
      }
      &.active:before{
        content: "\5c";  
      }
      &:only-child{
        display: none;  
      }
    }
  }

// Single Images
  .single-image-wrapper{
    padding: 10px;
    @include display-flex;
    @include flex-wrap(nowrap);
    @include align-items(center);
    .single-image, .single-image-title{
      @include flex(0 1 auto);  
    }
    .single-image-title{
      padding: 5px;
    }
    &.no-title{
      display: block;
      padding: 0;
      font-size: 0;
      line-height: 0;
    }
    &.title-top{
      @include flex-direction(column);
      @include justify-content(center);
      .single-image-title{
        @include order(1);
        text-align: center;  
      }
      .single-image{
        @include order(2);  
      }
    }
    &.title-bottom{
      @include flex-direction(column);
      @include justify-content(center);
      .single-image-title{
        text-align: center;  
      }
    }
    @include breakpoint($md){
      &.title-left{
        .single-image-title{
          @include order(1);  
        }
        .single-image{
          @include order(2);  
        }
      }
    }
    a{
      word-break: break-all;  
    }
  }

.bg-video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bgvid{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  @include transform(translate(-50%, -50%));
}

.bg-video-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.50);
}

.bg-video + div{
  position: relative;
  z-index: 5;  
}

// Google Map
  .acf-map {
    display: block;
  	width: 100%;
    margin-bottom: 30px;
  	&:before{
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
      @include breakpoint($md){
        padding-bottom: 66.67%;
      }
      @include breakpoint($mdl){
        padding-bottom: 56.25%;
      }
    }
    > div{
      top: 0;
      left: 0;
    }
  }

  .location-select{
    display: none;
  }

  .locations-list{
    @include breakpoint($md){
      @include display-flex;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      @include align-content(start);
      @include align-items(stretch);
    }
    @include breakpoint($mdl){
      @include justify-content(flex-start);
      margin-right: -20px;
    }
    .location-item{
      @include flex(0 1 auto);
      @include breakpoint($md){
        width: calc(50% - 40px);  
      }
      @include breakpoint($mdl){
        width: 1/3 * 100%;  
      }
    }
  }

  .location-item{
    width: 100%;
    padding: 0 0 30px 0;
    @include breakpoint($md){
      padding: 0 0 20px 0;
    }
    @include breakpoint($mdl){
      padding: 0 20px 20px 0;
    }
    &:last-child{
      padding-bottom: 0;
    }
    .company-logo{
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;  
    }
  }

  .location-item-title-row{
    @include display-flex;
    @include flex-wrap(nowrap);
    @include align-items(center);
    padding-bottom: 10px;
    .company-logo{
      margin-right: 10px;
    }
    h4.location-item-title{
      padding-bottom: 0;
      @include breakpoint($md){
        min-height: 50px;
        @include display-flex;
        @include align-items(center);
      }
    }
  }

  .location-item-table-row{
    padding-bottom: 15px;
    @include display-flex;
    @include flex-wrap(nowrap);
    @include align-items(center);
    &.address{
      @include align-items(flex-start);
    }
    &:last-child{
      padding-bottom: 0;
    }
  }

  .location-item-table-cell{
    &.label{
      padding-right: 10px;  
      i{
        font-size: 25px;
      }
    }
  }

  .location-website{
    word-break: break-all;  
  }

.instagram-img img{
  width: 100%;
  height: auto;
}

.instagram-block{
  position: relative;  
}

// Image Gallery

  .image-gallery{
    &.owl-carousel{
      .gallery-img-wrap{
        width: 100%;
      }
    }
    &.image-grid{
      @include display-flex;
      @include flex-wrap(wrap);
    }
    .gallery-img-wrap{
      width: 100%;
      @include breakpoint($mds){
        width: 50%;
      }
      @include breakpoint($mdl){
        width: 25%;
      }
    }
  }

  .gallery-img{
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
    span{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      @include transition(ease-in-out all 0.2s);
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
    }
    .img-zoom{
      display: block;
      text-align: center;
      font-size: 40px;
    }
    &:hover{
      span{
        opacity: 1;
      }
    }
  }

// Team Grid

  // Grid
    .team{
      @include display-flex;
      @include flex-wrap(wrap);
    }
    .team-member-wrapper{
      @include flex(0 1 auto);
      width: 50%;
      @include breakpoint($md){
        width: 33.333%;
      }
    }

    .team-member{
      display: block;
      position: relative;
      overflow: hidden;
      &:after{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    .team-hover-panel{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 20px;
      @include display-flex;
      @include transform(translateY(100%));
      @include transition(ease-in-out all 0.3s);
      .team-member:hover &{
        @include transform(translateY(0));
      }
      .hover-panel-inner{
        @include flex(1 1 auto);
        width: 100%;
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
      }
      h3{
        padding-bottom: 0;
      }
      .team-position{
        padding-top: 10px;
      }
    }
  
  // Team bios

    .team-bios{
      display: none; 
    }

    .team-bio{
      padding: 15px;
      @include breakpoint($md){
        padding: 20px
      }
      @include breakpoint($lrg){
        padding: 40px;
      }
      img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        @include breakpoint($md){
          float: right;
          margin: 0 0 20px 20px;
          max-width: 40%; 
        }
      }
      .team-title-area{
        padding-bottom: 30px;
        @include breakpoint($lrg){
          padding-bottom: 40px;
        }
      }
      h3.team-title{
        padding-bottom: 5px;
      }
    }

// Accordion

  .accordion{
    &.default-accordion{
      .accordion-tab-title{
        padding: 15px 30px;
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
        @include breakpoint($md){
          padding: 20px 40px;
        }
      }
      .accordion-content{
        padding: 30px;
        @include breakpoint($md){
          padding: 40px;
        }
      }
    }
    .accordion-tab-title{
      cursor: pointer;
      @include transition(ease-in-out all 0.2s);
    }
  }

  .accordion-content{
    display: none;
  }

// Tabs

  .tabs-container{
    @include display-flex;
    @include align-items(stretch);
    @include flex-wrap(wrap);
    &.default-tabs{
      .tab-title{
        padding: 10px 15px;
        @include breakpoint($md){
          padding: 15px 20px;
        }
        @include breakpoint($lrg){
          padding: 20px 40px;
        }
      }
      .tab-content-inner{
        padding: 30px;
        @include breakpoint($md){
          padding: 40px;
        }
        @include breakpoint($lrg){
          padding: 80px;
        }
      }
    }
  }

  .tabs-wrapper{
    width: 100%;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include align-content(center);
    @include flex-wrap(wrap);
    &.left-tabs{
      @include breakpoint($mdl){
        width: 33.333%;
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(stretch);
      }
    }
    &.right-tabs{
      @include breakpoint($mdl){
        width: 33.333%;
        @include order(2);
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(stretch);
      }
    }
    &.bottom-tabs{
      @include order(2);
    }
  }

  .tab-title{
    padding: 5px;
  }

  .tabs-content-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    &.left-tabs{
      @include breakpoint($mdl){
        width: 66.667%;
      }
    }
    &.right-tabs{
      @include breakpoint($mdl){
        width: 66.667%;
        @include order(1);
      }
    }
    &.bottom-tabs{
      @include order(1);
    }
    .tab-content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
      @include transition(ease-in-out all 0.2s);
      &.active-tab-content{
        position: relative;
        opacity: 1;
        z-index: 2;
      }
    }
  }


.quote{
  padding: 30px;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(stretch);
  @include breakpoint($md){
    padding: 40px;
  }
}

.fbr-badges{
  @include display-flex;
  @include justify-content(center);
  @include align-items(flex-start);
  .fbr-badge{
    @include flex(0 1 auto);
  }
}

